@charset "UTF-8";

body {
    background-color: #fce2c4;
    color: #333;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    margin: 0;
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #b0c4de;
    border-bottom: 2px solid #000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    margin-right: 15px;
}

.logo-text {
    font-size: 20px;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
  opacity: 0; 
}
.title span {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}



.gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.photo-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #000;
    width: 100%;
    max-width: 600px;
}

.promo-video,
.photo-card img {
    width: 100%;
    border-radius: 4px;
}

.btn-area {
    margin: 50px 0;
}

.btn-order {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ed9e01;
    width: 400px;
    max-width: 90%;
    height: 80px;
    margin: 0 auto;
    font-size: 1.5rem;
    border: 3px solid #000;
    border-radius: 40px;
    text-decoration: none;
    color: #000;
    box-shadow: 0 6px 0 #000;
}

footer {
    padding: 40px 0;
}
